<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Export_Ecommerce.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Export_Ecommerce.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data><applicationSettings>
        <Export_Ecommerce.Properties.Settings>
            <setting name="Export_Ecommerce_fck2010login_farmaclick2010001Service"
                serializeAs="String">
                <value>http://farmaclick.infarma.it/Farmaclick2010001FCKLogin</value>
            </setting>
            <setting name="Export_Ecommerce_fck2010info_farmaclick2010001Service"
                serializeAs="String">
                <value>http://farmaclick.infarma.it/Farmaclick2010001FCKInfoCom</value>
            </setting>
        </Export_Ecommerce.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Export_Ecommerce.Properties.Settings>
            <setting name="farmaclickUrl" serializeAs="String">
                <value>farmaclickUrl</value>
            </setting>
            <setting name="UtenteFck" serializeAs="String">
                <value>UtenteFck</value>
            </setting>
            <setting name="PwFck" serializeAs="String">
                <value>PwFck</value>
            </setting>
            <setting name="IdSessione" serializeAs="String">
                <value>Idsessione</value>
            </setting>
            <setting name="servizi" serializeAs="String">
                <value />
            </setting>
            <setting name="fornitore" serializeAs="String">
                <value />
            </setting>
            <setting name="ricarico" serializeAs="String">
                <value>0</value>
            </setting>
        </Export_Ecommerce.Properties.Settings>
    </userSettings>
</configuration>